<!DOCTYPE html>
<html>
    <head>
        <title>Event Info</title>
        <link rel="stylesheet" href="/public/css/eventInfo.css">
    </head>
    <body>
        <h1>{{event.name}}</h1>
        <a href="/" id="home-link">Go Back to Home</a>
        <div class="event-info">
            <div class="info-container">
                <ul>
                    <li class="venue"><strong>{{event.partyVenue}}</strong></li>
                    <li class="date"><strong>{{event.date}}</strong></li>
                    <li>{{event.description}}</li>
                    <li>&#x1f4cd; {{event.location}}</li>
                    <li>&#127926; {{event.musicType}}</li>
                    <li><strong>Minimum Age:</strong> {{event.minimumAge}}</li>
                    <li><strong>Price:</strong> {{event.price}}</li>
                    <li><strong>Max Capacity:</strong> {{event.maximumCapacity}}</li>
                    <a href="/events/{{event._id}}/comments">View Comments</a>
                </ul>
            </div>
            <div class="button-container">
                <button id="register-button" reg-event-id="{{event._id}}" reg-user-id="{{userId}}" reg-action="register">Register</button>
                <script src="/public/js/buttonRegister.js"></script>
                <button id="unregister-button" unreg-event-id="{{event._id}}" unreg-user-id="{{userId}}" unreg-action="unregister">Unregister</button>
                <script src="/public/js/buttonUnregister.js"></script>
                <p></p>
                <button id="favorite-button" fav-event-id="{{event._id}}" fav-user-id="{{userId}}" fav-action="favorite">Favorite</button>
                <script src="/public/js/buttonFavorite.js"></script>
                <button id="unfavorite-button" unfav-event-id="{{event._id}}" unfav-user-id="{{userId}}" unfav-action="unfavorite">Unfavorite</button>
                <script src="/public/js/buttonUnFavorite.js"></script>

            </div>
        </div>
    </body>
</html>