<!DOCTYPE html>
<html>
<head>
    <title>Update User Settings</title>
</head>
<h1>Update User Settings</h1>
<body>
    <div id="errors"></div>
    <form id = "updateForm" action= "/account/settings/{{id}}" method="post" >
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" value="{{user.firstName}}"><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" value="{{user.lastName}}"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{user.email}}"><br>

        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" value="{{user.dateOfBirth}}"><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{user.username}}"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword"><br>

        <label for="favoriteCategories">Favorite Genres:</label><br>
        <input type="checkbox" id="hiphop" name="favoriteCategories" value="hiphop">
        <label for="hiphop">Hip Hop</label><br>

        <input type="checkbox" id="rnb" name="favoriteCategories" value="rnb">
        <label for="rnb">RnB</label><br>

        <input type="checkbox" id="latin" name="favoriteCategories" value="latin">
        <label for="latin">Latin</label><br>

        <input type="checkbox" id="caribbean" name="favoriteCategories" value="caribbean">
        <label for="caribbean">Caribbean</label><br>

        <input type="checkbox" id="asian" name="favoriteCategories" value="asian">
        <label for="asian">Asian</label><br>

        <input type="checkbox" id="pop" name="favoriteCategories" value="pop">
        <label for="pop">Pop</label><br>

        <input type="checkbox" id="kpop" name="favoriteCategories" value="kpop">
        <label for="kpop">K-Pop</label><br>

        <input type="checkbox" id="jazz" name="favoriteCategories" value="jazz">
        <label for="jazz">Jazz</label><br>

        <input type="checkbox" id="country" name="favoriteCategories" value="country">
        <label for="country">Country</label><br>

        <input type="checkbox" id="rock" name="favoriteCategories" value="rock">
        <label for="rock">Rock</label><br>

        <input type="checkbox" id="edm" name="favoriteCategories" value="edm">
        <label for="edm">EDM</label><br>

        <input type="checkbox" id="throwbacks" name="favoriteCategories" value="throwbacks">
        <label for="throwbacks">Throwbacks</label><br>

        <input type="checkbox" id="afrobeats" name="favoriteCategories" value="afrobeats">
        <label for="afrobeats">Afrobeats</label><br>

        <input type="checkbox" id="indie" name="favoriteCategories" value="indie">
        <label for="indie">Indie</label><br>

        <input type="checkbox" id="alternative" name="favoriteCategories" value="alternative">
        <label for="alternative">Alternative</label><br>

        <input type="submit" value="Update Settings">
        <a href="/{{id}}">Cancel</a>
        {{!-- <script type="module" src="../public/js/client-side.js"></script> --}}
        
    {{!-- <ul id="errors"></ul> --}}
    {{#if updated}}
        <p>User settings updated successfully!</p>
    {{/if}}
    {{#if errors}}
        <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    {{/if}}
    </form>
    <script type="module" src="/public/js/client-side.js"></script>
</body>
</html>
