<!DOCTYPE html>
<html>
<head>
    <title>Update User Settings</title>
</head>
<body>
    <h1>Update {{user.username}} Settings</h1>
    {{#if updated}}
        <p>User settings updated successfully!</p>
    {{/if}}
    {{#if errors}}
        <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    {{/if}}
    <form method="POST" action="/updateSettings/{{user._id}}">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" value="{{user.firstName}}"><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" value="{{user.lastName}}"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{user.email}}"><br>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" value="{{user.dob}}"><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{user.username}}"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="password"><br>

        <label for="favGenres">Favorite Genres:</label>
        <input type="text" id="favGenres" name="favGenres" value="{{user.favGenres}}"><br>
        
        <input type="submit" value="Update Settings">
    </form>
</body>
</html>
