  <head>
    <title>Events List</title>
    <link rel="stylesheet" href="/public/css/userParties.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <a href="/">Homepage</a>
    <h1>Party Stats for {{this.user}}:</h1>
    <p class="hosting-events">Hosting Events:</p>
    {{#if hosted.length}}
      <ul>
        {{#each hosted}}
        <li>{{this.name}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>{{notHostingMessage}}</p>
    {{/if}}

    <p class="attending-events">Attending Events:</p>
    {{#if attending.length}}
      <ul>
        {{#each attending}}
        <li>{{this.name}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>{{notAttendingMessage}}</p>
    {{/if}}

    <p class="attending-events"> Previously Attended Parties:</p>
    {{#if previouslyAttended.length}}
      <ul>
        {{#each pastParties}}
        <li>{{this.name}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p> {{notAttendedMessage}}</p>
    {{/if}}
  </body>